@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.converter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: rgb(26, 128, 128);
}
.converter input {
    width: auto;
    padding: 7px;
}
.converter p {
    font-size: larger;
}

.title {
    text-align: center;
}